# Enable Bzlmod for every Bazel command
common --enable_bzlmod

build --stamp --workspace_status_command=$(pwd)/stamp.sh \
  --registry="file://%workspace%/registry" --registry=https://bcr.bazel.build \
  --incompatible_enable_cc_toolchain_resolution
